/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Open Sans',sans-serif;
}

img {
    width: 100%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

.button {
    background-color: #0061ff;
    color: white;
    text-decoration: none;
    padding: 6px 18px;
}

.container {
    width: 70%;
    margin: auto;
}

/* HEADER */
nav {
    padding: 25px;
}

.logo-img {
    width: 120px;   
}

nav * {
    vertical-align: middle;
}

.logo {
    display: inline-block;
    margin-right: 20px;
}

.nav-left, .nav-right {
    width: 50%;
}

.nav-right {
    text-align: right;
}

.top-menu {
    list-style-type: none;
    display: inline-block;
}

.top-menu li {
    display: inline-block;
    margin: 0 20px;
}

.top-menu a {
    text-decoration: none;
    color: black;
}

.btn-top {
    margin-left: 20px;
}

/* MAIN */

/* Jumbotron */
.jumbotron {
    background-color: #b4d0e7;
}

.jumbo-content {
    width: 80%;
    margin: auto;
    border: 1px solid red;
}

.jumbo-left {
    width: 30%;
    margin-top: 90px;
    
}

.jumbo-right {
    width: 70%;
}

.jumbo-content h1 {
    font-size: 70px;
    margin-top: 50px;
}

.img-jumbo {
    position: relative;
    top: 90px;
}

.btn-jumbo {
    margin-top: 30px;
    margin-bottom: 20px;
}

.down-arrow {
    font-size: 40px;
    margin-top: 40px;
}

/* Section Plans */
.plans {
    margin-top: 150px;
}

.plans h2 {
    font-size: 40px;
}
