/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

.button {
    background-color: #0061ff;
    color: white;
    text-decoration: none;
    padding: 6px 18px;
}

.container {
    width: 70%;
    margin: auto;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    height: 70px;
    z-index: 2;
}

nav {
    padding: 20px;
    font-size: 15px;
}

.logo-img {
    width: 115px;   
}

nav * {
    vertical-align: middle;
}

.logo {
    display: inline-block;
    margin-right: 20px;
}

.nav-left, .nav-right {
    width: 50%;
}

.nav-right {
    text-align: right;
}

.top-menu {
    list-style-type: none;
    display: inline-block;
}

.top-menu li {
    display: inline-block;
    margin: 0 20px;
}

.top-menu a {
    text-decoration: none;
    color: black;
}

.btn-top {
    margin-left: 20px;
}

/* MAIN */
main {
    margin-top: 70px;
}

/* Jumbotron */
.jumbotron {
    background-color: #b4d0e7;
    padding-top: 70px;
}

.jumbo-content {
    width: 82%;
    margin: auto;
    
}

.jumbo-left {
    width: 35%;
    padding-top: 40px;
    padding-right: 30px;
    font-size: 15px;
}

.jumbo-right {
    width: 65%;
}

.jumbo-content h1 {
    font-size: 70px;
    
}

.img-jumbo {
    position: relative;
    top: 80px;
    margin-top: -40px;
    z-index: 1;
}

.btn-jumbo {
    margin-top: 30px;
    margin-bottom: 20px;
}

.cancel {
    font-size: 13px;
}

.down-arrow {
    font-size: 40px;
    margin-top: 35px;
}

/* Section Plans */
.plans {
    margin-top: 180px;
}

.plans h2 {
    font-size: 40px;
}

.col-plan-left,
.col-plan-center,
.col-plan-right {
    height: 500px;
    width: calc( ( 100% / 3 ) - ( 100px / 3 ) );
    border: 1px solid grey;
}

.col-plan-center {
   margin-left: 50px;
   margin-right: 50px;
}

.checkbox {
    padding: 50px 0 40px;

}

.checkbox * {
    vertical-align: middle;
}

.radio-btn {
    display: inline-block;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 1px solid grey;
}

.radio-left {
    border: 5px solid blue;
}

.billing {
    margin-right: 20px;
}

.user {
    border-bottom: 1px solid grey;
    padding: 10px;
    text-align: center;
}

